{{#if addNewCategory}}
  <div class="categoryForm">
    <form>
      <div class="form-group">
        <label for="name">Category Name</label>
        {{input value=name id="name"}}
      </div>
      <button {{action 'saveCategory'}}>Save Category</button>
    </form>
  </div>
  {{else}}
    <button {{action 'categoryFormShow'}}>Add A Category</button>
{{/if}}
