.thumbnailImage {
  height: 200px;
}

.detailImage {
  height: 500px;
  width: 100%;
  background-size: cover;
}

.price{
  position: absolute;
  top: 0%;
  background: white;
  border-radius: 2px;
  padding-right: 5px;
}

.price p {
  margin-bottom: 2px;
}

.jumbotron {
  text-align: center;
}

a {
  transition: all 500ms ease-in-out;
}

a:hover {
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 500ms ease-in-out;
}

.jumbotron h1 {
  text-shadow: 1px 1px 1px gray;
}
